<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Project List</title>
  <link rel="stylesheet" type="text/css" href="../../static/Topnav.css" th:href="@{/Topnav.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/TITLE.BACKGROUND.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/showProjects.css}">



</head>
<body>
<div th:replace="fragment/topnav :: project-nav"></div>

<div align="center" class="container my-2">
  <h1>Project List</h1>
  <table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Project Id</th>
      <th>Project Name</th>
      <th>Start Date</th>
      <th>Deadline</th>
      <th>Hours of Tasks</th>
      <th>Delete</th>
      <th>Show tasks</th>
      <th>Update project</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="project : ${pList}">
      <td th:text="${project.projectId}"></td>
      <td th:text="${project.projectName}"></td>
      <td th:text="${project.startDate}"></td>
      <td th:text="${project.deadline}"></td>
      <td th:text="${project.hoursOfTasks}"></td>
      <td>
        <form th:action="@{/deleteProject/{projectId}(projectId=${project.projectId})}" method="post">
          <button type="submit" onclick="return confirm('Are you sure you want to delete this project?')" class="btn btn-danger">Delete</button>
        </form>
      </td>
      <td>
        <form th:action="@{/showTask/{projectId}(projectId=${project.projectId})}" method="get">
          <button type="submit" class="btn btn-primary">Show tasks</button>
        </form>
      </td>
      <td>
        <form th:action="@{/updateProjectName/update/{projectId}(projectId=${project.projectId})}" method="get">
          <button type="submit" class="btn btn-primary">Update project</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <p>
    <a th:href="@{/addProject}">
      <button class="center btn">Add new Project</button>
    </a>
  </p>
</div>
</body>
</html>