<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org" xmlns:extras="http://www.thymeleaf.org/extras/java8time">
<head>
    <meta charset="UTF-8">
    <title>Gant diagram</title>
    <title>Title</title>
    <link th:href="@{/TableStyle.css}" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" th:href="@{/Topnav.css}">
    <link rel="stylesheet" type="text/css" href="../../static/Stylesheet.css" th:href="@{/Stylesheet.css}">
    <style>
        .even-col {
            background-color: #f2f2f2;
        }
        .odd-col {
            background-color: #ffffff;
        }
    </style>
 <!--  <style>
       /*tr{
            display: flex;
        }*/
        th{
            flex: 1;
        }
    </style>-->


</head>
<body>
<div th:replace="fragment/topnav :: task-nav">
</div>

<table>
    <tr>
        <th th:style="'width: 300px'"></th>
        <div th:each="dto,i : ${dateDTOList.dateDTOS}" >
            <th th:if="${(i.count == 1)}" th:text="${dto.year}" th:style="'width: ' + ${dateDTOList.columnsOfFirstYear * 30} + 'px'" th:colspan="${dateDTOList.columnsOfFirstYear}" >|</th>
            <th th:if="${(i.count > 1 and dto.date.dayOfYear == 1)}" th:text="${dto.year}" th:style="'width: ' + ${dateDTOList.columnsOfSecondYear * 30} + 'px'" th:colspan="${dateDTOList.columnsOfSecondYear}">|</th>
        </div>
    </tr>

    <tr>
        <th th:style="'width: 300px'"></th>
        <div th:each="dto,i : ${dateDTOList.dateDTOS}" >
            <th th:if="${(i.count == 1)}" th:text="${dto.monthName}" th:style="'width: ' + ${dateDTOList.columnsOfFirstMonth * 30} + 'px'" th:colspan="${dateDTOList.columnsOfFirstMonth}" >|</th>
            <th th:if="${(i.count > 1 and dto.dayOfMonth == 1)}" th:text="${dto.monthName}" th:style="'width: ' + ${dateDTOList.columnsOfSecondMonth * 30} + 'px'" th:colspan="${dateDTOList.columnsOfSecondMonth}">|</th>
        </div>
    </tr>

    <tr>
        <th th:style="'width: 300px'"></th>
        <div th:each="dto : ${dateDTOList.dateDTOS}">
            <th  th:text="${dto.dayOfMonth}" th:style="'width: 30px'"></th>
        </div>
    </tr>

    <tr>
        <th th:style="'width: 300px'"></th>
        <div th:each="dto : ${dateDTOList.dateDTOS}">
            <th  th:text="${#strings.substring(dto.dayName, 0, 2)}" th:style="'width: 30px'"></th>
        </div>
    </tr>

    <tr th:each="o : ${objectList}">
        <td th:text="${o.name}" th:style="'width: 300px'"></td>
        <div th:each="dto,i : ${dateDTOList.dateDTOS}" th:class="${i.odd}? 'odd-col' : 'even-col'" >
            <td th:if="${dto.date < o.startDate}" th:style="'width: 30px'" > </td>
            <td th:if="${dto.date >= o.startDate and dto.date <= o.deadline }"  th:style="'width: 30px; <!--background-color: red; color: red;-->'" ><div class="circle"/></td>
        </div>
    </tr>


</table>
<br/>

<a th:href="@{/showTask/{projectId}(projectId=${projectId})}">
    <button>Show as List</button>
</a>

<br/>

<table1>

    <tr>
        <td>
            <a th:href="@{/decrement/{projectId}(projectId=${projectId})}">
                <button> << </button>
            </a>

        </td>
        <td>
            <a th:href="@{/now/{projectId}(projectId=${projectId})}">
                <button>now</button>
            </a>
        </td>
        <td>
            <a th:href="@{/increment/{projectId}(projectId=${projectId})}">
                <button> >> </button>
            </a>
        </td>
    </tr>
</table1>
</body>
</html>