<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/Topnav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/showtasks.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/TITLE.BACKGROUND.css}">





</head>
<body>
<div th:replace="~{fragment/topnav :: task-nav}"></div>



<table>
    <tbody>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date of Issue</th>
        <th>Start Date</th>
        <th>Deadline</th>
        <th>Estimate<br/>[Hours]</th>
        <th>Avalable<br/>Work Hours</th>
        <th>Emp<br/>needed</th>
        <th>Assign<br/>Emp</th>
        <th>Emp<br/>Assigned</th>
        <th>Status</th>
        <th>Change<br/>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="task,i : ${list}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.creationDate}"></td>
        <td th:text="${task.startDate}"></td>
        <td th:text="${task.deadline}"></td>
        <td th:text="${task.timeEstimate}"></td>
        <td th:text="${task.hoursOfPeriod}"></td>
        <td th:text="${task.empNeeded}"></td>
        <td>
            <a th:href="@{/addAssignment/{projectId}/{taskId}(projectId=${projectId},taskId=${task.id})}">
                <button class="status-button">Assign</button>
            </a>
        </td>
        <td>

        <select>
            <option th:each="name : ${nameDTO[i.count - 1]}" th:text="${name}"/>
        </select>
        </td>
        <td th:if="${task.state}==1"><a style="color: crimson;">TODO</a></td>
        <td th:if="${task.state}==2"><a style="color: gold;">In Progress</a></td>
        <td th:if="${task.state}==3"><a style="color: green;">Done</a></td>
        <td>
            <a th:href="@{/updateState/{projectId}/{taskId}/{state}(projectId=${projectId},taskId=${task.id},state=${task.state})}">
                <button class="status-button" th:if="${task.state==1}">In Progress</button>
                <button class="status-button" th:if="${task.state==2}">Done</button>
                <button class="status-button" th:if="${task.state==3}">Reset</button>
            </a>
        </td>
        <td>
            <a th:href="@{/editTask/{taskId}/{projectId}(taskId=${task.id}, projectId=${projectId})}">
                <button class="edit-button">
                    <i class="fas fa-cog"></i>
                </button>
            </a>
        </td>
        <td>
            <a th:href="@{/removeTask/{projectId}/{taskId}(projectId=${projectId},taskId=${task.id})}">
                <button class="delete-button" onclick="return confirm('Are you sure you want to delete this Task?')"><i class="fas fa-trash-alt"></i></button>
            </a>
        </td>

    </tr>
    </tbody>
</table>

<a th:href="@{/addTask/{projectId}(projectId=${projectId})}">
    <button class="dark-green-button add-task-button" type="button">
        <i class="fas fa-plus"></i>
    </button>
</a>

<a th:href="@{/showGant/{projectId}(projectId=${projectId})}">
    <button class="black-button gantt-button" type="button"> Gantt
    </button>
    <br>
</a>

<a th:href="@{/showProject}">
        <button class="back-button">
            <i class="fas fa-arrow-left"></i>
        </button>
    </a>
</a>
</body>
</html>

