
table {
    border-collapse: collapse;
    background-color: transparent;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
    position: relative;
    z-index: 2;
}

input[type="text"],
input[type="date"] {
    background-color: #fffbf6;
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

button[type="submit"] {
    display: flex;
    margin: 20px auto 0;
    background-color: darkgreen;
    border: 2px solid lightgreen;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: lightgreen;
}