table {
    background-color: white;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}

h1{
    color: white;
}
.transparent-button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s;
}

.transparent-button:hover {
    background-color: lightgray;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
    background-color: darkgreen;
    border: 2px solid lightgreen;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
}

.add-button:hover {
    background-color: lightgreen;
    border-color: lightgreen;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: darkred;
}





