.navigationWrapper {
    font-family: "Roboto", sans-serif;
    position: fixed;
    top: 2px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
    height: 8%;
}
.logoWrapper {
    display: flex;
}

.stylish {
    font-weight: bold;
}

.logo {
    padding-left: 4px;
    color: #ea4f4c;
}
.navigation {
    display: flex;
    list-style-type: none;
}

li {
    opacity: 1;
    list-style-type: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.parent {
    padding: 0 10px;
    border: none;
    background: none;
    cursor: pointer;
}
button{
    background-color: #222;
    height: 30px;
    border:none;
    outline:none;
    color: white;
    padding: 0px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}