<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="../../static/Topnav.css" th:href="@{/Topnav.css}"></head>
</head>
<div th:fragment ="main-nav">
  <nav class="navigationWrapper">
    <div class="logoWrapper">
      <span class="stylish">ProjectEks</span>
      <span class="logo"><sup>beta</sup></span>
    </div>
    <ul class="navigation">
      <li class="parent"><a th:href="@{/}" ><button>Home</button></a></li>
      <li class="parent"><a th:href="@{/createUser}" ><button>Create user</button></a></li>
      <li class="parent"><a th:href="@{/login}" ><button>Log In</button></a></li>
    </ul>
  </nav>
</div>


<div th:fragment ="project-nav">
  <nav class="navigationWrapper">
    <div class="logoWrapper">
      <span class="stylish">ProjectEks</span>
      <span class="logo"><sup>beta</sup></span>
    </div>
    <ul class="navigation">
      <li class="parent"><a th:href="@{/showProject}" ><button>Project List</button></a></li>
      <li class="parent"><a th:href="@{/addProject}" ><button>Create new Project</button></a></li>
      <li class="parent"><a th:href="@{/logout}" ><button>Log out</button></a></li>
    </ul>
  </nav>
</div>

<div th:fragment ="task-nav">
  <nav class="navigationWrapper">
    <div class="logoWrapper">
      <span class="stylish">ProjectEks</span>
      <span class="logo"><sup>beta</sup></span>
    </div>
    <ul class="navigation">
      <li class="parent"><a th:href="@{/showProject}" ><button>Project List</button></a></li>
      <li class="parent"><a th:href="@{/showTask/{projectId}(projectId=${projectId})}" ><button>Task List</button></a></li>
      <li class="parent"><a th:href="@{/addTask/{projectId}(projectId=${projectId})}" ><button>Add Task</button></a></li>
      <li class="parent"><a th:href="@{/logout}" ><button>Log out</button></a></li>
    </ul>
  </nav>
</div>

<div th:fragment ="test-nav">
  <nav class="navigationWrapper">
    <div class="logoWrapper">
      <span class="stylish">ProjectEks</span>
      <span class="logo"><sup>beta</sup></span>
    </div>
    <ul class="navigation">
      <li class="parent"><a href="dummy" >Project List</a></li>
      <li class="parent"><a href="dummy" >Create new Project</a></li>
      <li class="parent"><a href="dummy" >Log out</a></li>
    </ul>
  </nav>
</div>
</html>