<div th:fragment ="navwelcome">
<body>
<nav id="nav">
  <ul>
    <li>ProjectEks</li>
    <li><a href="#m1" >Menu 1</a></li>
    <li><a href="#m2" >Menu 2</a></li>
    <li><a href="#m3" >Log In</a></li>
  </ul>
</nav>
</body>
</div>

<div th:fragment ="navlogin">
  <body>
  <nav id="nav2">
    <ul>
      <li>ProjectEks</li>
      <li><a href="#m1" >Menu 1</a></li>
      <li><a href="#m2" >Menu 2</a></li>
      <li><a href="#m3" >Main</a></li>
    </ul>
  </nav>
  </body>
</div>

<div th:fragment ="navlogout">
  <body>
  <nav id="nav3">
    <ul>
      <li>ProjectEks</li>
      <li><a href="#m1" >Menu 1</a></li>
      <li><a href="#m2" >Menu 2</a></li>
      <li><a href="#m3" >Log out</a></li>
    </ul>
  </nav>
  </body>
</div>