<div th:fragment ="main-nav">
<body>
<nav id="nav">
  <ul>
    <li>ProjectEks<sup>beta</sup></li>
    <li><a th:href="@{/createUser}" ><button>Create user</button></a></li>
    <li><a th:href="@{/login}" ><button>Log In</button></a></li>
  </ul>
</nav>
</body>
</div>

<div th:fragment ="login-nav">
  <body>
  <nav id="nav2">
    <ul>
      <li>ProjectEks<sup>beta</sup></li>
      <li><a th:href="@{/}" ><button>Main</button></a></li>
    </ul>
  </nav>
  </body>
</div>

<div th:fragment ="project-nav">
  <body>
  <nav id="nav3">
    <ul>
      <li>ProjectEks<sup>beta</sup></li>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
      </form>
    </ul>
  </nav>
  </body>
</div>

<div th:fragment ="task-nav">
  <body>
  <nav id="nav4">
    <ul>
      <li>ProjectEks<sup>beta</sup></li>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
      </form>
    </ul>
  </nav>
  </body>
</div>
