<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create user</title>
  <link rel="stylesheet" type="text/css" href="../../static/topNav.css" th:href="@{topNav.css}">
  <link rel="stylesheet" type="text/css" href="../../static/styleSheet.css" th:href="@{styleSheet.css}">

</head>
<body>
<div th:replace="~{fragment/topnav :: main-nav}">
</div>
<h1>Create User</h1>

<div class="createUser">
  <form method="post" th:action="@{/createUser}" th:object="${user}" id="createUser">
    <label for="userName">User name:</label>
    <input id="userName" type="text"
           th:field="*{username}"
           placeholder="username"
           required="required"/>

    <label for="password">Password:</label>
    <input id="password" type="password"
           th:field="*{password}"
           placeholder="Password"
           required="required"/>
    <button type="submit" form="createUser" value="Submit">Create User</button>

  </form>


</div>

</body>
</html>