<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Please Log In</title>
    <link rel="stylesheet" type="text/css" href="../../static/Topnav.css" th:href="@{/Topnav.css}">
    <link rel="stylesheet" type="text/css" href="../static/Stylesheet.css" th:href="@{/Stylesheet.css}">


</head>
<body>
<div th:replace="~{fragment/topnav :: main-nav}">
</div>
<h1>Please Log In</h1>
<div th:if="${param.error}">
    <label>Invalid username and password.</label></div>
<div th:if="${param.logout}">
    <label>You have been logged out.</label></div>
<form th:action="@{/login}" method="post" id="logInForm">
    <div>
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"/>
    </div>
</form>
<div class="parent">
    <div class="child 1"><button type="submit" form="logInForm" value="Submit">Log In</button> </div>
    <div class="child 2"><a class="parent"> <a th:href="@{/createUser}" ><button>Create user</button></a></a> </div>
</div>
</body>
</html>