<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/TableStyle.css}" rel="stylesheet" >
  <title>show user</title>
  <link rel="stylesheet" type="text/css" th:href="@{/Topnav.css}">
  <link rel="stylesheet" type="text/css" href="../../static/Stylesheet.css" th:href="@{/Stylesheet.css}">
</head>
<h2>Remove in Final</h2>
<body>
<div th:replace="~{fragment/topnav :: main-nav}">
</div>
<table>
  <tr>
    <th>user_id</th>
    <th>username</th>
    <th>password</th>
  </tr>

  <div th:each="user : ${userList}">
    <tr>
      <td th:text="${user.user_id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.password}"></td>
    </tr>
  </div>
</table>
</body>
</html>