<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/TableStyle.css}" rel="stylesheet" >
  <title>User Site</title>
  <link rel="stylesheet" type="text/css" th:href="@{topNav.css}">
  <link rel="stylesheet" type="text/css" href="../../static/styleSheet.css" th:href="@{/styleSheet.css}">
</head>

<body>
<div th:replace="~{fragment/topnav :: project-nav}">
</div>
<h1>My Dashboard</h1>
<h2 th:text="'Welcome '+${userName}"></h2>
<table>
  <tr>
    <th></th>
  </tr>
  <tr>
    <td><a th:href="@{/myAssignment}">
      <button class="status-button">My Assignments</button>
    </a></td>
  </tr><tr>
    <td><a th:href="@{/showProject}">
      <button class="status-button">My Projects</button>
    </a></td>
  </tr>



</table>
</body>
</html>