<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/assignmentAdded}" method="post" th:object="${assignment}" >
    <select th:field="*{userId}">
        <option th:each="user : ${userList}" th:value="${user.user_id}" th:text="${user.username}"/>
    </select>
    <input type="hidden" id="projectId" name="projectId" th:value="${projectId}" />
    <button type="submit" value="Assign Employee" class="center">Assign Employee</button>

</form>

</body>
</html>