<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/topnav.css}">
</head>
<body>
<div th:replace="fragment/topnav :: task-nav">
</div>
<form action="#" th:action="@{/taskAdded}" method="POST" th:object="${task}">
    <input type="hidden" id="projectId" name="projectId" th:value="${projectId}" />
    <label for="name">Task name:</label>
    <input type="text" id="name" name="name" th:value="*{name}" required>
    <label for="state">Status:</label>
    <select name="state" id="state">
        <option type="text" value="1">TODO</option>
        <option type="text" value="2">In Progress</option>
        <option type="text" value="3">DONE</option>
    </select>
    <label for="timeEstimate">Estimated completion time[hours]:</label>
    <input type="text" id="timeEstimate" name="timeEstimate" th:value="*{timeEstimate}" required>

    <br>

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" th:field="*{startDate}" />

    <label for="deadline">Deadline:</label>

    <input type="date" id="deadline" name="deadline" th:field="*{deadline}" /><br>



    <input type="submit" value="Add Task" />



</form>

