<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{taskAdded}" method="POST" th:object="${task}">
  <label for="name">Task name:</label>
  <input type="text" id="name" name="name" th:value="*{name}" required>
    <label for="state">Status:</label>
    <input type="number" id="state" name="state" th:value="*{state}" required>

    </select><br>
    <label for="creationDate">Creation Date:</label>
    <input type="text" id="creationDate" name="creationDate" th:field="*{creationDate}" value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" readonly /><br>
    <label for="deadline">Deadline:</label>
    <input type="date" id="deadline" name="deadline" th:field="*{deadline}" /><br>
    <input type="submit" value="Add Task" />
</form>
</body>
</html>






