<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/TableStyle.css}" rel="stylesheet" >
    <title>Title</title>
</head>
<body>
<table>
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>Date of Issue</th>
    <th>Start Date</th>
    <th>Deadline</th>
    <th>Time Estimate[Hours]</th>
    <th>Normal Work Hours of Period </th>
    <th>Status</th>
    <th>Change Status</th>
    <th>Edit</th>
    <th>Delete</th>

</tr>

<div th:each="task : ${list}">
    <tr>
        <td th:text="${task.id}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.creationDate}"></td>
        <td th:text="${task.startDate}"></td>
        <td th:text="${task.deadline}"></td>
        <td th:text="${task.timeEstimate}"> </td>
        <td th:text="${task.hoursOfPeriod}"> </td>
        <td th:if="${task.state}==1 "><a style="color: crimson;">TODO</a></td>
        <td th:if="${task.state}==2 " ><a style="color: gold;">In Progress</a></td>
        <td th:if="${task.state}==3 " ><a style="color: green;">Done</a></td>
        <td><a th:href="@{updateState/{taskId}/{state}(taskId=${task.id} , state=${task.state})}">
            <button th:if="${task.state==1}">In Progress</button>
            <button th:if="${task.state==2}">Done</button>
            <button th:if="${task.state==3}">Reset</button>
        </a></td>
        <td><form method="get" th:action="@{updateTask}" th:object="${task}">
            <button type="submit">Edit</button>
            <input type="hidden" name="task" th:value="${task}"/>
        </form></td>
        <td><a th:href="@{removeTask/{taskId}(taskId=${task.id})}">
            <button>Delete</button>
        </a></td>

    </tr>
</div>

</table>
<a th:href="@{showGant}">
    <button>Show as Gant</button>
</a><br>
<a th:href="@{addTask}">
    <button>add new Task</button>
</a>

</body>
</html>