<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Update Project</title>
  <link rel="stylesheet" type="text/css" th:href="@{/topnav.css}">
</head>

<body>
<div th:replace="fragment/topnav :: project-nav">
</div>
<h1>Update Project Name</h1>
<form action="#" th:action="@{/showProject/update/{projectId}(projectId=${project.projectId})}" method="post" th:object="${project}">
  <label>Give the project a new name:</label>
  <input type="text" th:field="*{projectName}"/>
  <button type="submit">Update</button>
</form>
</body>

</html>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Update Project</title>
</head>
<body>
