<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../static/topNav.css" th:href="@{/topNav.css}">
    <link rel="stylesheet" type="text/css" href="../../static/styleSheet.css" th:href="@{/styleSheet.css}">
</head>
<body>
<div th:replace="~{fragment/topnav :: project-nav}"></div>

<form th:action="@{/assignmentAdded}" method="post" th:object="${assignment}" >
    <select th:field="*{userName}">
        <option th:each="user : ${userList}" th:value="${user.username}" th:text="${user.username}"/>
    </select>


        <label for="startDate">from:</label>
        <input type="date" id="startDate" name="startDate" th:field="*{startDate}" th:attr="min=${taskStart}, max=${taskDeadline}" required/>


        <label for="endDate">to:</label>
        <input type="date" id="endDate" name="deadline" th:field="*{endDate}" th:attr="min=${taskStart}, max=${taskDeadline}" required/>




    <input type="hidden" id="taskId" name="taskId"  th:value="${taskId}" />
    <input type="hidden" id="projectId" name="projectId" th:value="${projectId}" />
    <button type="submit" value="Assign Employee" class="center">Assign Employee</button>

</form>

</body>
</html>