<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/showGant.css}" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" th:href="@{/topNav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/TITLE.BACKGROUND.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/showtasks.css}">
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        .even-col {
            background-color: darkred;
        }
        .odd-col {
            background-color: firebrick;
        }
        .dayOff-col{
            background-color: orange;
        }
        .todo{

            background-color: green;
        }
        .in-progress{

            background-color: gold;
        }
        .done{

            background-color: red;
        }
        .button-container {
            display: flex;
            gap: 10px; /* Adjust the gap as needed */
        }

    </style>

    <title>My Assignments</title>

</head>
<body>
<div th:replace="~{fragment/topnav :: project-nav}"></div>

<h1>My Assignments</h1>


<table>

    <tr>
        <th th:style="'width: 100px; border: none'"></th>
        <th th:style="'width: 100px; border: none'"></th>
        <th th:style="'width: 100px; border: none'"></th>

        <div th:each="dto,i : ${dateDTOList.dateDTOS}" >
            <th th:if="${(i.count == 1)}" th:text="${dto.year}" th:style="'width: ' + ${dateDTOList.columnsOfFirstYear * 30} + 'px'" th:colspan="${dateDTOList.columnsOfFirstYear}" >|</th>
            <th th:if="${(i.count > 1 and dto.date.dayOfYear == 1)}" th:text="${dto.year}" th:style="'width: ' + ${dateDTOList.columnsOfSecondYear * 30} + 'px'" th:colspan="${dateDTOList.columnsOfSecondYear}">|</th>
        </div>
    </tr>

    <tr>
        <th th:style="'width: 100px; border: none'"></th>
        <th th:style="'width: 100px; border: none'">TASK</th>
        <th th:style="'width: 100px; border: none'"></th>

        <div th:each="dto,i : ${dateDTOList.dateDTOS}" >
            <th th:if="${(i.count == 1)}" th:text="${dto.monthName}" th:style="'width: ' + ${dateDTOList.columnsOfFirstMonth * 30} + 'px'" th:colspan="${dateDTOList.columnsOfFirstMonth}" >|</th>
            <th th:if="${(i.count > 1 and dto.dayOfMonth == 1)}" th:text="${dto.monthName}" th:style="'width: ' + ${dateDTOList.columnsOfSecondMonth * 30} + 'px'" th:colspan="${dateDTOList.columnsOfSecondMonth}">|</th>
        </div>
    </tr>

    <tr>
        <th th:style="'width: 100px; border: none'"></th>
        <th th:style="'width: 100px; border: none'"></th>
        <th th:style="'width: 100px; border: none'"></th>

        <div th:each="dto,i : ${dateDTOList.dateDTOS}">
            <th  th:text="${dto.dayOfMonth}" th:style="'width: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${i.count % 2 != 0}? 'odd-col' : 'even-col')"  ></th>
        </div>
    </tr>

    <tr>
        <th th:style="'width: 100px; border: none'"></th>
        <th th:style="'width: 100px; border: none'"></th>
        <th th:style="'width: 100px; border: none'"></th>
        <div th:each="dto,i : ${dateDTOList.dateDTOS}">
            <th  th:text="${#strings.substring(dto.dayName, 0, 2)}" th:style="'width: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${i.count % 2 != 0}? 'odd-col' : 'even-col')"></th>
        </div>
    </tr>

    <tr th:each="o,i : ${objectList}">
        <td th:text="${list[i.count - 1].name}" th:style="'width: 100px'"></td>
        <td th:if="${list[i.count - 1].state}==1"><a style="color: crimson;">TODO</a></td>
        <td th:if="${list[i.count - 1].state}==2"><a style="color: gold;">In Progress</a></td>
        <td th:if="${list[i.count - 1].state}==3"><a style="color: green;">Done</a></td>
        <td>
        <a th:href="@{/updateStateAssignment/{taskId}/{state}(taskId=${list[i.count - 1].id},state=${list[i.count - 1].state})}">
            <button class="status-button" th:if="${list[i.count - 1].state==1}">In Progress</button>
            <button class="status-button" th:if="${list[i.count - 1].state==2}">Done</button>
            <button class="status-button" th:if="${list[i.count - 1].state==3}">Reset</button>
        </a>
        </td>
        <div th:each="dto,j : ${dateDTOList.dateDTOS}" >
            <td th:if="${dto.date < o.startDate}" th:style="'width: 30px; height: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${j.count % 2 != 0}? 'odd-col' : 'even-col')"  > </td>

            <span th:if="${dto.date >= o.startDate and dto.date <= o.endDate }">
                <span th:if="${!dto.isDayOff}">
                <td th:if="${list[i.count - 1].state==1}" th:style="'width: 30px; height: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${j.count % 2 != 0}? 'odd-col' : 'even-col')" ><div class="circle" style="background-color: red"/></td>
                <td th:if="${list[i.count - 1].state==2}" th:style="'width: 30px; height: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${j.count % 2 != 0}? 'odd-col' : 'even-col')" ><div class="circle" style="background-color: gold"/></td>
                <td th:if="${list[i.count - 1].state==3}" th:style="'width: 30px; height: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${j.count % 2 != 0}? 'odd-col' : 'even-col')" ><div class="circle" style="background-color: green"/></td>
                </span>
                <td th:if="${dto.isDayOff}" th:style="'width: 30px; height: 30px'" th:class="'dayOff-col'" ></td>
            </span>

            <td th:if="${dto.date > o.endDate}" th:style="'width: 30px; height: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${j.count % 2 != 0}? 'odd-col' : 'even-col')" > </td>

        </div>
    </tr>


</table>
<div class="button-container">



            <form th:action="@{/myAssignment}" method="post" >
                <input type="hidden" name="days" value="-30">
                <button type="submit" >
                    <i class="fas fa-arrow-left"></i>
                </button>
            </form>

            <form th:action="@{/myAssignment}" method="post"  >
                <input type="hidden" name="days" value="0">
                <button  type="submit" class="black-button gantt-button" >
                    now
                </button>
            </form>

            <form th:action="@{/myAssignment}" method="post">
                <input type="hidden" name="days" value="30">
                <button type="submit" >
                    <i class="fas fa-arrow-right"></i>
                </button>
            </form>

</div>
<br/>

<a th:href="@{/userSite}">
    <button class="back-button">
        <i class="fas fa-arrow-left">  Back to Dashboard</i>
    </button>
</a>

</body>
</html>


