<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/topNav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/showTask.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/TITLE.BACKGROUND.css}">
    <link th:href="@{/showGant.css}" rel="stylesheet" >
    <style>
        .even-col {
            background-color: darkred;
        }
        .odd-col {
            background-color: firebrick;
        }
        .dayOff-col{
            background-color: orange;
        }
        .todo{
            background-color: green
        }
        .in-progress{
            background-color: gold;
        }
        .done{
            background-color: red;
        }
    </style>



</head>
<body>
<div th:replace="~{fragment/topnav :: project-nav}"></div>

<h1>My Assignments</h1>

<!--<table>
    <tbody>
    <tr>
        <th>Id</th>
        <th>Name</th>

        <th>Start Date</th>
        <th>Deadline</th>

        <th>Status</th>
        <th>Change<br/>Status</th>


    </tr>
    <tr th:each="task,i : ${list}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.name}" th:class="${task.star == 2} ? 'task-name-fav' : ''"></td>

        <td th:text="${task.startDate}"></td>
        <td th:text="${task.deadline}"></td>




        <td th:if="${task.state}==1"><a style="color: crimson;">TODO</a></td>
        <td th:if="${task.state}==2"><a style="color: gold;">In Progress</a></td>
        <td th:if="${task.state}==3"><a style="color: green;">Done</a></td>
        <td>
            <a th:href="@{/updateStateAssignment/{taskId}/{state}(taskId=${task.id},state=${task.state})}">
                <button class="status-button" th:if="${task.state==1}">In Progress</button>
                <button class="status-button" th:if="${task.state==2}">Done</button>
                <button class="status-button" th:if="${task.state==3}">Reset</button>
            </a>
        </td>

    </tr>
    </tbody>
</table>
<br/>-->
<table>
    <tr>
        <th th:style="'width: 300px; border: none'"></th>
        <th th:style="'width: 300px; border: none'"></th>
        <th th:style="'width: 300px; border: none'"></th>

        <div th:each="dto,i : ${dateDTOList.dateDTOS}" >
            <th th:if="${(i.count == 1)}" th:text="${dto.year}" th:style="'width: ' + ${dateDTOList.columnsOfFirstYear * 30} + 'px'" th:colspan="${dateDTOList.columnsOfFirstYear}" >|</th>
            <th th:if="${(i.count > 1 and dto.date.dayOfYear == 1)}" th:text="${dto.year}" th:style="'width: ' + ${dateDTOList.columnsOfSecondYear * 30} + 'px'" th:colspan="${dateDTOList.columnsOfSecondYear}">|</th>
        </div>
    </tr>

    <tr>
        <th th:style="'width: 300px; border: none'"></th>
        <th th:style="'width: 300px; border: none'">TASK</th>
        <th th:style="'width: 300px; border: none'"></th>

        <div th:each="dto,i : ${dateDTOList.dateDTOS}" >
            <th th:if="${(i.count == 1)}" th:text="${dto.monthName}" th:style="'width: ' + ${dateDTOList.columnsOfFirstMonth * 30} + 'px'" th:colspan="${dateDTOList.columnsOfFirstMonth}" >|</th>
            <th th:if="${(i.count > 1 and dto.dayOfMonth == 1)}" th:text="${dto.monthName}" th:style="'width: ' + ${dateDTOList.columnsOfSecondMonth * 30} + 'px'" th:colspan="${dateDTOList.columnsOfSecondMonth}">|</th>
        </div>
    </tr>

    <tr>
        <th th:style="'width: 300px; border: none'"></th>
        <th th:style="'width: 300px; border: none'"></th>
        <th th:style="'width: 300px; border: none'"></th>

        <div th:each="dto,i : ${dateDTOList.dateDTOS}">
            <th  th:text="${dto.dayOfMonth}" th:style="'width: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${i.count % 2 != 0}? 'odd-col' : 'even-col')"  ></th>
        </div>
    </tr>

    <tr>
        <th th:style="'width: 300px; border: none'"></th>
        <th th:style="'width: 300px; border: none'"></th>
        <th th:style="'width: 300px; border: none'"></th>
        <div th:each="dto,i : ${dateDTOList.dateDTOS}">
            <th  th:text="${#strings.substring(dto.dayName, 0, 2)}" th:style="'width: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${i.count % 2 != 0}? 'odd-col' : 'even-col')"></th>
        </div>
    </tr>

    <tr th:each="o,i : ${objectList}">
        <td th:text="${list[i.count - 1].name}" th:style="'width: 300px'"></td>
        <td th:if="${list[i.count - 1].state}==1"><a style="color: crimson;">TODO</a></td>
        <td th:if="${list[i.count - 1].state}==2"><a style="color: gold;">In Progress</a></td>
        <td th:if="${list[i.count - 1].state}==3"><a style="color: green;">Done</a></td>
        <td>
        <a th:href="@{/updateStateAssignment/{taskId}/{state}(taskId=${list[i.count - 1].id},state=${list[i.count - 1].state})}">
            <button class="status-button" th:if="${list[i.count - 1].state==1}">In Progress</button>
            <button class="status-button" th:if="${list[i.count - 1].state==2}">Done</button>
            <button class="status-button" th:if="${list[i.count - 1].state==3}">Reset</button>
        </a>
        </td>
        <div th:each="dto,i : ${dateDTOList.dateDTOS}" >
            <td th:if="${dto.date < o.startDate}" th:style="'width: 30px; height: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${i.count % 2 != 0}? 'odd-col' : 'even-col')"  > </td>

            <span th:if="${dto.date >= o.startDate and dto.date <= o.endDate }">
                <span th:if="${!dto.isDayOff}">
                <td th:style="'width: 30px; height: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${i.count % 2 != 0}? 'odd-col' : 'even-col')" ><a class="circle" th:class="${list[i.count - 1].state==1}?'todo': (${list[i.count - 1].state==2}?'in-progress' : 'done')"/></td>
                </span>
                <td th:if="${dto.isDayOff}" th:style="'width: 30px; height: 30px'" th:class="'dayOff-col'" ></td>
            </span>

            <td th:if="${dto.date > o.endDate}" th:style="'width: 30px; height: 30px'" th:class="${dto.isDayOff}? 'dayOff-col' : (${i.count % 2 != 0}? 'odd-col' : 'even-col')" > </td>

        </div>
    </tr>


</table>
<br/>

<a th:href="@{/userSite}">
    <button class="back-button">
        <i class="fas fa-arrow-left"></i>
    </button>
</a>

</body>
</html>


